.foremanToster {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    box-shadow: 0px 5px 46px rgba(0, 0, 0, 0.12);
    border-radius: 40px;
    background-color: #FFF;
    width: 1096px;
    padding: 31px 0;
    position: absolute;
    top: 43px;
    z-index: 5;
  }
  
  .foremanTosterText {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }