.primaryButton {
  width: 296px;
  height: 662px;
  border-radius: 24px;
  border: none;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #212121;
  cursor: pointer;
  background: #f3f0e9;
  position: fixed;
  top: 195px;
  z-index: 2;
}

@media screen and (max-width: 1890px) {
  .primaryButton {
    top: 150px;
    width: 15vw;
    height: 550px;
    border-radius: 20px;
    font-size: 32px;
    line-height: 36px;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1600px) {
  .primaryButton {
    height: 450px;
  }
}

.primaryButton:active {
  background: #dedede;
}

.primaryButton:disabled {
  background: #f0f0f0;
  color: #b1b1b1;
  cursor: auto;
}

.primaryButtonYellow {
  width: 296px;
  height: 662px;
  border-radius: 24px;
  border: none;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #212121;
  cursor: pointer;
  background: #fed42b;
  position: fixed;
  top: 195px;
  z-index: 2;
}

@media screen and (max-width: 1890px) {
  .primaryButtonYellow {
    top: 150px;
    width: 15vw;
    height: 550px;
    border-radius: 20px;
    font-size: 32px;
    line-height: 36px;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1600px) {
  .primaryButtonYellow {
    height: 450px;
  }
}

.primaryButtonYellow:active {
  background: #f5c400;
}

.primaryButtonYellow:disabled {
  background: #f0f0f0;
  color: #b1b1b1;
  cursor: auto;
}
