.toster {
  width: 1096px;
  height: 104px;
  padding: 18px 317px;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  background-color: #ff2f2f;
}

.correct {
  background-color: #2aad2a;
}
