.headText {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width: 1890px) {
    .headText {
        font-size: 42px;
        line-height: 48px;
    }
}
