.footer {
  height: 112px;
  box-shadow: 0px 5px 46px rgba(0, 0, 0, 0.12), 0px 7px 15px rgba(0, 0, 0, 0.12);
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerError {
  background-color: #ffa200;
  color: #fff;
}

.center {
  justify-content: center;
}

.keyboardButtonContainer {
  display: flex;
  gap: 18px;
}

.keyboardImage {
  width: 36px;
  height: 30px;
  background: url(../../images/keyboard-icon.svg) no-repeat center;
}

.keyboardImageWhite {
  background: url(../../images/keyboard-icon_white.svg) no-repeat center;
}

.keyboardButton {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  cursor: pointer;
}

.keyboardButtonWhite {
  color: #fff;
}
