.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.footer {
  flex-shrink: 0;
}