@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'YS Text';
  color: #212121;
  max-width: 1920px;
}
