.goBackButton {
  padding: 19px 109px;
  color: #212121;
  background-color: #fed42b;
  border: none;
  border-radius: 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  cursor: pointer;
  justify-content: start;
}

@media screen and (max-width: 1890px) {
  .goBackButton {
    padding: 15px 90px;
    border-radius: 18px;
    font-size: 20px;
    line-height: 24px;
  }
}

.goBackButton:hover {
  background-color: #f5c400;
}

.goBackButtonError {
  background-color: #f3f0e9;
}

.goBackButton:hover {
  background-color: #dedede;
}
