.goBackButton {
  padding: 19px 109px;
  color: #212121;
  background-color: #fed42b;
  border: none;
  border-radius: 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  cursor: pointer;
}

.goBackButton:hover {
  background-color: #f5c400;
}

.goBackButtonError {
  background-color: #f3f0e9;
}

.goBackButton:hover {
  background-color: #dedede;
}
